<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <tab id="luigisbox" translate="label" sortOrder="9999">
            <label>Luigi's Box</label>
        </tab>
        <section id="luigisboxsearch_settings" translate="label" type="text" sortOrder="999" showInDefault="1" showInWebsite="1"
                 showInStore="1">
            <label>Settings</label>
            <tab>luigisbox</tab>
            <resource>LuigisBox_SearchSuite::config</resource>
            <group id="settings" translate="label" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Credentials and Setup</label>
                <field id="tracker_url" translate="label comment" type="text" sortOrder="0" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Luigi's Box script URL</label>
                    <comment>
                        <![CDATA[
                            You can find your script URL in the <a href="https://app.luigisbox.com/settings/scripts" target="_blank">Luigi's Box app</a>.
                            It should look like this: <pre>https://scripts.luigisbox.com/LBX-12345.js</pre>
                        ]]>
                    </comment>
                </field>
                <field id="enabled" translate="label comment" type="select" sortOrder="1" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable catalog synchronization</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tracker_id" translate="label comment" type="text" sortOrder="2" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Tracker ID</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment>
                        <![CDATA[
                            You can find your Tracker ID in the <a href="https://app.luigisbox.com/settings/keys" target="_blank">Luigi's Box app</a>.
                            It should look like this: <pre>54321-12345</pre>
                        ]]>
                    </comment>
                </field>
                <field id="api_key" translate="label comment" type="text" sortOrder="3" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>API key</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment>
                        <![CDATA[
                            You can find your API key in the <a href="https://www.luigisbox.com/api-keys" target="_blank">Lugi's Box app</a>.
                            It looks like a pretty long string of random characters.
                        ]]>
                    </comment>
                </field>
                <field id="attributes_required" translate="label comment" type="select" sortOrder="4" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sync required product attributes</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="attributes_visible" translate="label comment" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sync visible product attributes</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="attributes_searchable" translate="label comment" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sync searchable product attributes</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="attributes_filterable" translate="label comment" type="select" sortOrder="7" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Sync filterable product attributes</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="cron_schedule" translate="label comment" type="text" sortOrder="8" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Nightly reindex cron schedule</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                    <comment>
                        <![CDATA[
                            Enter the cron schedule expression. Use <a href="https://crontab.guru/" target="_blank">this website</a> to help you make one.
                        ]]>
                    </comment>
                </field>
                <field id="force_reindex" translate="label comment" type="button" sortOrder="9" showInDefault="1" showInWebsite="1" showInStore="1">
                    <frontend_model>LuigisBox\SearchSuite\Block\Reindex</frontend_model>
                    <label>Force reindex</label>
                    <depends>
                        <field id="enabled">1</field>
                    </depends>
                </field>
            </group>
        </section>
    </system>
</config>
